<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            class="navbar-toggle collapsed"
            type="button"
            id="side-menu-toggle"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img
              src="{{ '/assets/images/base/logo_text.png' | relative_url }}"
              alt="{{ site.title }}"
              class="logo"
            />
          </a>
        </div>
        <div
          id="navbar-collapse-menu"
          class="collapse navbar-collapse"
        >
          <ul class="nav navbar-nav">
            {% for item in site.data.settings.menu %}
              {% if item.submenu %}
                <li class="dropdown">
                  <a
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="{{ item.link | relative_url }}"
                  >
                    {{ item.name }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for subitem in item.submenu %}
                      <li>
                        <a href="{{ subitem.link | relative_url }}">
                          {% if subitem.icon %}
                            <i
                              class="fa fa-inverse fa-{{ subitem.icon }} fa-2x"
                            ></i>
                          {% endif %}
                          {{ subitem.name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ item.link | relative_url }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="side-menu" id="side-menu">
      <ul class="nav navbar-nav">
        {% for item in site.data.settings.menu %}
          {% if item.submenu %}
            <li class="dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                href="{{ item.link | relative_url }}"
              >
                {{ item.name }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for subitem in item.submenu %}
                  <li>
                    <a href="{{ subitem.link | relative_url }}">
                      {% if subitem.icon %}
                        <i
                          class="fa fa-inverse fa-{{ subitem.icon }} fa-2x"
                        ></i>
                      {% endif %}
                      {{ subitem.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ item.link | relative_url }}">
                {{ item.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  
    <div class="menu-overlay" id="menu-overlay"></div>
  
    {% if page.url == "/" or page.url == "/index.html" %}
      <!-- 슬라이딩 공지판 -->
      <div id="slider-panel" class="slider-panel">
        <button id="close-panel" class="close-btn">&times;</button>
        <h2>공지사항</h2>
        <ul class="notice-list">
          <li><a href="#">[2025.07.20] 사이트 리뉴얼 안내</a></li>
          <li><a href="#">[2025.07.15] 여름 학술대회 안내</a></li>
          <li><a href="#">[2025.07.01] 신규 프로젝트 모집</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
  