html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 8em;
	padding-top: 4.5em;
	counter-reset: h1counter;
	
}

h1 {
	counter-reset: h2counter;
}

h2 {
	counter-reset: h3counter;
}

h2:before {
	content: counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
}

h3:before {
	content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
	counter-increment: h3counter;
}

.container {
	font-size: 1.3em;
}

.jumbotron {
	background: #719d7d;
	padding: 0.5em 1em;
}

.jumbotron h1 {
	color: white;
	font-size: 5em;
	text-align: center;
	font-weight: bold;
	margin: 0;
	line-height: 1.2;
}

.jumbotron h1 .highlight {
	background: transparent;
	color: #12421f;
	font-size: 1em;
	font-weight: bold;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10em;
	background-color: #719d7d;
	padding: 1.5em 1em;
  }

.navbar-default {
	background-color: #719d7d;
	border-color: #12421f;
	text-transform: uppercase;
	font-size: 1.3em;
}

.navbar-default .navbar-header {
    display: flex;
    align-items: center;
}

.navbar-default .navbar-brand {
	height: 50px;
	display: flex;
	align-items: center;
}

.navbar-default .navbar-brand .logo {
	height: 50px;
	width: auto;
}

.navbar-default .navbar-brand .logo:hover {
	opacity: 0.6;
	color: #ffffff;
}

.navbar-default .navbar-brand:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li:hover>a {
	color: #ffffff;
	background-color: #12421f !important;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
    background-color: rgba(128, 128, 128, 0.8);
}

.navbar-default .navbar-nav>li:hover>.dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffffff;
    background-color: rgba(128, 128, 128);
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: #12421f;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-toggle {
	border-color: #12421f;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #12421f;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #12421f;
	}
}